{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{%block content%}

<body class="container-fluid bg-secondary">
    <div class="container">
        <div class="card" style="background:rgb(224, 227, 230);box-shadow: 5px 10px;margin:1%;">
            <div class="card-header">
                <h2>{{blog.title}}</h2>
            </div>

            <div class="card-body">
                <h2>{{blog.description}}</h2>
            </div>

            <div class="card-footer">
                <div><strong>Created: </strong>{{blog.date | timeago}}</div>
                <div><strong>Created By: </strong>{{blog.user.username}}</div>
            </div>
        </div>
        <div class="card" style="background:rgb(224, 227, 230);box-shadow: 5px 10px;margin:2%;">
                <div class="card-header">
                    <h2>Comments</h2>
                </div>
                
                <div class="card-body">
                        {%if current_user.is_authenticated%}
                        <div>
                            {{wtf.quick_form(form)}}
        
                            {{form.csrf_token}}
                        </div>
                        {%endif%}

                        {%for comment in comments%}
                        <div class="card-body bg-light">
                            <div>{{comment.description | capitalize}}</div>
                            <div><strong>By:</strong>{{comment.user.username}}</div>
                            <div><strong>When:</strong>{{comment.date | timeago}}</div>
                        </div>
                        {%endfor%}
                </div>
            </div>
    </div>
</body>
{%endblock%}